*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.with-back-image{
   background-image: url("../img/pattern.png");
   background-color: dodgerblue;
   height: 180px;
}

.logo{
    width: 280px;
    margin-top: 90px;
    margin-left: 10px;
}

/* main */
