*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.with-back-image{
   background-image: url("../img/pattern.png");
   background-color: dodgerblue;
   height: 180px;
}

.logo{
    width: 280px;
    margin-top: 90px;
    margin-left: 10px;
}

/* main */
.container{
    margin-top: 20px;
    margin-left: 10px;
}

/* Titolo e autore */
h1{
    font-size: 60px;
}

.author{
    color:grey;
    font-weight: bold;
}

.color-word{
    color: aqua;
}

.thin{
    font-weight: normal;
}

/* paragrafi */
.paragraph{
    margin-top: 20px;
}

.highlighted{
    background-color: yellow;
}

/* unorder list */
.list{
    
    padding: 15px;
    margin-top: 20px;
}

/* tabella */
.line-color{
    background-color: DeepSkyBlue;
}

.odd-line-color{
    background-color: Aquamarine;
}

.even-line-color{
    background-color: white;
}
